<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }

      .navbar {
        background-color: #333;
        overflow: hidden;
      }

      .navbar button {
        float: left;
        display: block;
        color: white;
        background-color: #333;
        padding: 14px 20px;
        border: none;
        cursor: pointer;
        font-size: 16px;
      }

      .navbar button:hover {
        background-color: #575757;
      }
    </style>
  </head>
  <body>

    <div class="navbar">
      <button onclick="location.href='empleados.html'">Empleados</button>
      <button onclick="location.href='historial.html'">Historial</button>
      <button onclick="location.href='reportes.html'">Reportes</button>
    </div>

  </body>
</html>
